/build/esp32.esp32.esp32doit-devkit-v1/test_oled_3d_cube.ino.bootloader.bin
/build/esp32.esp32.esp32doit-devkit-v1/test_oled_3d_cube.ino.merged.bin
/build/esp32.esp32.esp32doit-devkit-v1/test_oled_3d_cube.ino.partitions.bin
/build/esp32.esp32.esp32doit-devkit-v1/test_oled_3d_cube.ino.elf
/build/esp32.esp32.esp32doit-devkit-v1/test_oled_3d_cube.ino.map
